*{
    margin: 0;
    padding: 0;
}


body {
    font-family: "VT323";
    height: 100dvh;
    display: grid;
    grid-template-rows: 130px auto; /*tamaño de las filas, 130px es el tamaño del header*/
}

header{
    padding: 30px;
    border-bottom: 3px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1{
    font-size: 3em;
}

h1 a {
    color: blue;
}


nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a{
    color: #444;
    font-size: 2em;
}

.abrir, 
.cerrar{
    display: none;
} 

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-size: 4em;
}

@media screen and (max-width:800px){
    nav{
        position: fixed;
        top:-100vh;
        left: 0;
        background-color: rgb(172, 213, 249);
        padding: 30px;
        width: calc(100% - 60px);
        height: calc(100vh - 60px);
        transition: top 0.8s;
    }

    .desplegado{
        top: 0;
    }

    nav ul{
        display: block;
    }

    nav li:not(:first-child){
        margin-top: 40px;
    }

    nav a{
        font-size: 4em;
        color: rgb(2, 18, 99);
    }

    .cerrar{
        display: block;
        font-family: "VT323", sans-serif;
        color:rgb(2, 18, 99);
        font-size: 2em;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }

    .abrir{
        display: block;
        background-color: transparent;
        border: 1px solid orangered;
        border-radius: 5px;
        width: 30px;
        padding: 5px 5px 0;
        cursor: pointer;
    }

    .abrir span{
        display: block;
        background-color: orangered;
        height: 3px;
        margin-bottom: 5px;
    }

    h2{
        font-size: 2em;
    }

}